<!DOCTYPE html>
<html>
<head>
    <title>My Test</title>
    {% stylesheets '@BlogUserBundle/Resources/public/css/style.sass' filter='compass' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
</head>
<body class="container">
{% include 'BlogUserBundle:Default:header.html.twig' %}
{% include 'BlogUserBundle:Default:sidemenu.html.twig' %}
<section id="content">
    {% block content %}
        <!-- Insert Whatever -->
    {% endblock %}
</section>
{% include 'BlogUserBundle:Default:footer.html.twig' %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
{% javascripts '@BlogUserBundle/Resources/public/js/script.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>