<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}
{{ form_start(credentialForm, {'attr': {'novalidate': 'novalidate' }}) }}
{{ form_errors(credentialForm) }}

{{ form_end(credentialForm) }}
</body>
</html>