{% extends 'BlogUserBundle:Default:sidemenu.html.twig' %}

{% block sidemenu %}
    <nav>
        <ul>
            <li><a href={{ url('blog_user_login') }}>Sign in</a></li>
            <li><a href={{ url('blog_user_creation') }}>Sign up</a></li>
        </ul>
    </nav>
{% endblock %}